@font-face {
  font-family: 'Open Sans';
  src: url('/assets/fonts/OpenSans-Regular.ttf');
}

@font-face {
  font-family: 'Playfair Display';
  src: url('/assets/fonts/PlayfairDisplay-Regular.ttf');
}

body {
  font-family: 'Open Sans', sans-serif;
  font-size: 1.2rem;
  color: #808080;
}

.author {
  margin-top: 32px;
  margin-bottom: 32px;
}

.author__header {
  font-family: 'Playfair Display', serif;
  font-size: 2rem;
  color: #202028;
  text-align: center;
}

.author__byline {
  font-family: 'Playfair Display', serif;
  font-size: 1.25rem;
  font-style: italic;
  text-align: center;
}

.contact {
  margin-top: 32px;
  margin-bottom: 32px;
}

.contact__list {
  margin: 0;
  padding: 0;
  text-align: center;
  list-style-type: none;
}

.contact__list-item {
  padding-left: 2rem;
}

.contact__list-icon {
  position: absolute;
  transform: translate(-1.6rem, 0.3rem);
}
